// Here you can add other styles
.sidebar {
  //background-color: #0fa3b1;
  //background-color: #3dccc7;
  background-color: #add8e6;
}

// .header {
//   background: linear-gradient(
//     90deg,
//     rgba(43, 190, 205, 0.9019257361147583) 0%,
//     rgba(0, 212, 255, 1) 41%,
//     rgba(2, 0, 36, 1) 100%
//   );
// }

.gradient-background {
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  min-height: 100vh;
  padding: 20px;
  color: white;
}

#cajita {
  background-color: #add8e6;
}
